html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .container-fluid {
    height: calc(100vh - 56px);
    padding: 0;
  }
  
  .row {
    height: 100%;
    margin: 0;
  }
  
  .col-md-2, .col-md-10 {
    height: 100%;
    padding: 0;
  }
  
  .overflow-auto {
    overflow: auto;
  }